{% extends 'app/base.html' %}
{% load static %}

{% block title %}Maná | Rede{% endblock %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'core/css/normalize.css'%}" />
    <link rel="stylesheet" href="{% static 'core/css/skeleton.css'%}" />
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.css'%}" />
    <link rel="stylesheet" href="{% static 'core/css/open-sans.css'%}" />
    <link rel="stylesheet" href="{% static 'core/css/index.css'%}" />
    <link rel="stylesheet" href="{% static 'core/css/tooltipster.bundle.min.css'%}" />
{% endblock %}

{% block content %}

    <div id="cy" class="main" style="width: 100% !important;"></div>

    <label for="data" class="tooltip u-pull-left" title="Switch to a new dataset">Active dataset</label>
    <div class="u-cf"></div>
    <select class id="data" style="display: none;">
        <option value="social.json" selected>Social</option>
        <option value="genes.json">Genes</option>
        <option value="custom.json">Custom</option>
      </select>

    <label for="style" class="tooltip u-pull-left" title="Switch to a new graph stylesheet">Active stylesheet</label>
    <div class="u-cf"></div>
    <select id="style" style="display: none;">
        <option value="plain.cycss" selected>Plain</option>
        <option value="fancy.json">Fancy</option>
        <option value="custom.cycss">Custom</option>
    </select>

    <label for="layout" class="tooltip u-pull-left" title="Change layout">Active layout</label>
    <div class="u-cf"></div>
    <select id="layout" style="display: none;">
        <option value="cola" selected>Force-directed</option>
        <option value="concentricCentrality">Concentric by centrality</option>
        <option value="concentricHierarchyCentrality">Hierarchy by centrality</option>
        <option value="custom">Custom</option>
      </select>
    <i id="redo-layout" class="fa fa-refresh action-icon tooltip" title="Redo layout"></i>

    <div class="u-cf"></div>
    <select id="algorithm" style="display:none;">
        <option value="none" selected>None</option>
        <option value="bfs">BFS</option>
        <option value="dfs">DFS</option>
        <option value="astar">A*</option>
        <option value="custom">Custom</option>
      </select>
    <i id="redo-algorithm" class="fa fa-refresh action-icon tooltip" title="Redo algorithm visualization"></i>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'core/js/jquery.min.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>

    <script src="{% static 'core/js/cytoscape.min.js'%}"></script>
    <script src="{% static 'core/js/cola.js'%}"></script>
    <script src="{% static 'core/js/cytoscape-cola.js'%}"></script>
    <script src="{% static 'core/js/jquery-3.1.1.min.js'%}"></script>
    <script src="{% static 'core/js/tooltipster.bundle.min.js'%}"></script>
    <script src="{% static 'core/js/index.js'%}"></script>
{% endblock %}