{% extends 'app/base.html' %}
{% load static %}

{% block title %}Maná | Recomendações{% endblock %}

{% block styles %}
    <!--Geral imports-->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Select search css -->
    <link rel="stylesheet" href="{% static 'core/css/select.css' %}">

    <!-- Table css -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <style>
      .column {
        padding-right: 40px;
        padding-left: 40px;
      }

      img {
        width: 30px;
      }

      #nps {
          background-color: orange;
          border: none;
          color: white;
          padding: 12px 28px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
      }

      #enviar {
          background-color: orange;
          border: none;
          color: white;
          padding: 8px 18px;
          text-align: center;
          text-decoration: none;
          font-size: 15px;
          width: 20%;
      }

        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 80%; /* Could be more or less, depending on screen size */
          text-align: center;
        }

        /* The Close Button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        .nota {
          margin-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <center>
        <div class="search-box" id="search-session" style="margin-top: 150px;">
            <select class="input-search" id="select-vaga">
                <option value="">Toque aqui e selecione uma vaga</option>

                {% for vaga in vagas %}
                    <option value="{{ vaga.id }}">{{ vaga.titulo }}</option>
                {% endfor %}

            </select>
            <div id="wait" style="display:none;">
                <br>
                <img src="{% static 'core/img/loading-buffering.gif'%}" style="width: 30px;">
                <br>
                Aguarde, buscando candidatos...
            </div>
        </div>


        <div class="limiter" id="table-recommendations" style="display: none;">
            <br><br>
            <h1>Vaga: <span id="nome_vaga"></span></h1>
            <br><br>
            <button id="nps">Avaliar recomendação</button>
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column">Nome</th>
                                    <th class="column">Mat. acadêmica</th>
                                    <th class="column">Mat. profissional</th>
                                    <th class="column">Linkedin</th>
                                    <th class="column">Ranqueamento</th>
                                    <th class="column">Score</th>
                                </tr>
                            </thead>
                            <tbody id="render-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" style="text-align: left;" id="close_modal">&times;</span>
    <h1>Avaliação da recomendação</h1>
    <br>
    <p>Por favor, avalie esta recomendação! Ela é importantíssima para nos <br>permitir entender se de fato o método proposto funciona corretamente!</p>
    <br><br>
    <p><b>Dê uma nota para esta recomendação de profissionais:</b></p>
    <br>
     <form id="npsForm" >
         {% csrf_token %}
        <input type="hidden" id="vaga_id" name="vaga_id">
        <input type="radio" id="nps0" name="nota" value="0" class="nota">
        <label for="nps0">0 (Péssima)</label>

        <input type="radio" id="nps1" name="nota" value="1" class="nota">
        <label for="nps1">1</label>

        <input type="radio" id="nps2" name="nota" value="2" class="nota">
        <label for="nps2">2</label>

        <input type="radio" id="nps3" name="nota" value="3" class="nota">
        <label for="nps3">3</label>

        <input type="radio" id="nps4" name="nota" value="4" class="nota">
        <label for="nps4">4</label>

        <input type="radio" id="nps5" name="nota" value="5" class="nota">
        <label for="nps5">5</label>

        <input type="radio" id="nps6" name="nota" value="6" class="nota">
        <label for="nps6">6</label>

        <input type="radio" id="nps7" name="nota" value="7" class="nota">
        <label for="nps7">7</label>

        <input type="radio" id="nps8" name="nota" value="8" class="nota">
        <label for="nps8">8</label>

        <input type="radio" id="nps9" name="nota" value="9" class="nota">
        <label for="nps9">9</label>

        <input type="radio" id="nps10" name="nota" value="10" class="nota">
        <label for="nps10">10 (Excelente)</label>

         <br><br><br>
         <label for="sugestao">
             <b>Você pode deixar algumas sugestões ou críticas sobre como podemos melhorar a recomendação?</b>
         </label>
         <br>
         <textarea id="sugestao" name="sugestao" rows="5" style="width: 100%"></textarea>
      </form>

      <br>
      <center>
        <button id="enviar">Eviar avaliação</button>
      </center>

  </div>

</div>
{% endblock %}

{% block js %}
    <script src="{% static 'core/js/jquery.min.js' %}"></script>

    <script>

        // Ultilizada para criar as carinhas de happy, neutral e sad
        var total = 0;
        var superior = 0;
        var inferior = 0;

        function calcularExtremos() {
            superior = total - (total/5);
            inferior = total/2;
        }

        $(document).ready(function() {

            $('#select-vaga').on('change', function() {

                $('#nome_vaga').html($('#select-vaga option:selected').text());
                $('#vaga_id').val($('#select-vaga option:selected').val());

                $('#wait').show();
                $.getJSON('/api/recomendacoes/', {id: $('#select-vaga').val()}, function(data) {
                    $('#table-recommendations').show();
                    $('#search-session').hide();
                    $('#wait').hide();

                    var html = '';
                    for(var i of data) {

                        if(total == 0) {
                            total = i.total;
                            calcularExtremos();
                        }

                        html += '<tr>';
                        html += '<td class="column">';
                        html += i.nome;
                        html += '</td>';
                        html += '<td class="column">';
                        html += i.maturidade_academica;
                        html += '</td>';
                        html += '<td class="column">';
                        html += i.maturidade_profissional;
                        html += '</td>';
                        html += '<td class="column">';
                        html += '<a href="'+i.linkedin_url+'">'+i.linkedin_url+'</a>';
                        html += '</td>';
                        html += '<td class="column">';


                        if(i.total >= superior)
                            html += '<img src="{% static 'core/img/happy.png'%}">';

                        if(i.total < superior && i.total > inferior)
                            html += '<img src="{% static 'core/img/neutral.png'%}">';

                        if(i.total <= inferior)
                            html += '<img src="{% static 'core/img/sad.png'%}">';

                        html += '</td>';

                        html += '<td class="column">';
                        html += i.total.toFixed(2);
                        html += '</td>';
                        html += '</tr>';
                   }

                   $('#render-data').append(html);
                   $('#nps').show();
                });
            });

            $('#nps').click(function() {
                $('#myModal').show();
            });

            $('.close').click(function() {
                $('#myModal').hide();
            });

            $('#enviar').click(function() {
                var nota = $("#npsForm input[type='radio']:checked").val();
                var form = $("#npsForm").serialize();
                if (nota == undefined || nota == null)
                    alert('Por favor, informe uma nota!');
                else {
                  $.post('/api/nps/', form, function(data) {
                        if (data.status == 'ok') {
                            document.getElementById('close_modal').click();
                            setTimeout(function() {
                                alert('Avaliação realizada com sucesso! Muito obrigado :)');
                                $('#nps').hide();
                            }, 200);

                        }
                        else {
                            $('#nps').show();
                            alert('Houve um erro, tente novamente!');
                        }
                  });
                }
            });
        });
    </script>
{% endblock %}