{% extends 'app/base.html' %}
{% load static %}

{% block title %}Maná | Recomendações{% endblock %}

{% block styles %}
    <!--Geral imports-->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Select search css -->
    <link rel="stylesheet" href="{% static 'core/css/select.css' %}">

    <!-- Table css -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <style>
      .column {
        padding-right: 40px;
        padding-left: 40px;
      }

      img {
        width: 30px;
      }
    </style>
{% endblock %}

{% block content %}
    <center>
        <div class="search-box" id="search-session" style="margin-top: 150px;">
            <select class="input-search" id="select-vaga">
                <option value="">Toque aqui e selecione uma vaga</option>

                {% for vaga in vagas %}
                    <option value="{{ vaga.id }}">{{ vaga.titulo }}</option>
                {% endfor %}

            </select>
            <div id="wait" style="display:none;">
                <br>
                <img src="{% static 'core/img/loading-buffering.gif'%}" style="width: 30px;">
                <br>
                Aguarde, buscando candidatos...
            </div>
        </div>

        <div class="limiter" id="table-recommendations" style="display: none;">
            <br><br>
            <h1>Vaga: <span id="nome_vaga"></span></h1>
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column">Nome</th>
                                    <th class="column">Mat. acadêmica</th>
                                    <th class="column">Mat. profissional</th>
                                    <th class="column">Linkedin</th>
                                    <th class="column">Status</th>
                                    <th class="column">Score</th>
                                </tr>
                            </thead>
                            <tbody id="render-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}

{% block js %}
    <script src="{% static 'core/js/jquery.min.js' %}"></script>

    <script>

        // Ultilizada para criar as carinhas de happy, neutral e sad
        var total = 0;
        var superior = 0;
        var inferior = 0;

        function calcularExtremos() {
            superior = total - (total/5);
            inferior = total/2;
        }

        $(document).ready(function() {

            $('#select-vaga').on('change', function() {

                $('#nome_vaga').html($('#select-vaga option:selected').text());

                $('#wait').show();
                $.getJSON('/api/recomendacoes/', {id: $('#select-vaga').val()}, function(data) {
                    $('#table-recommendations').show();
                    $('#search-session').hide();
                    $('#wait').hide();

                    var html = '';
                    for(var i of data) {

                        if(total == 0) {
                            total = i.total;
                            calcularExtremos();
                        }

                        html += '<tr>';
                        html += '<td class="column">';
                        html += i.nome;
                        html += '</td>';
                        html += '<td class="column">';
                        html += i.maturidade_academica;
                        html += '</td>';
                        html += '<td class="column">';
                        html += i.maturidade_profissional;
                        html += '</td>';
                        html += '<td class="column">';
                        html += '<a href="'+i.linkedin_url+'">'+i.linkedin_url+'</a>';
                        html += '</td>';
                        html += '<td class="column">';


                        if(i.total >= superior)
                            html += '<img src="{% static 'core/img/happy.png'%}">';

                        if(i.total < superior && i.total > inferior)
                            html += '<img src="{% static 'core/img/neutral.png'%}">';

                        if(i.total <= inferior)
                            html += '<img src="{% static 'core/img/sad.png'%}">';

                        html += '</td>';

                        html += '<td class="column">';
                        html += i.total.toFixed(2);
                        html += '</td>';
                        html += '</tr>';
                   }

                   $('#render-data').append(html);
                });
            });

            $('#menu-recommendation').addClass('active');
        });
    </script>
{% endblock %}