{% extends 'app/base.html' %}
{% load static %}

{% block title %}Maná | Recomendações{% endblock %}

{% block styles %}
    <!--Geral imports-->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Select search css -->
    <link rel="stylesheet" href="{% static 'core/css/select.css' %}">

    <!-- Table css -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <style>
      .column {
        padding-right: 40px;
        padding-left: 40px;
      }
    </style>
{% endblock %}

{% block content %}
    <center>
        <buttom id="gambi">Gambi</buttom>
        <div class="search-box" id="search-session" style="margin-top: 150px;">
            <select class="input-search" id="select-vaga">
                <option value="">Toque aqui e selecione uma vaga</option>

                {% for vaga in vagas %}
                    <option value="{{ vaga.id }}">{{ vaga.titulo }}</option>
                {% endfor %}

            </select>
            <div id="wait" style="display:none;">
                <br>
                <img src="{% static 'core/img/loading-buffering.gif'%}" style="width: 30px;">
                <br>
                Aguarde, buscando candidatos...
            </div>
        </div>

        <div class="limiter" id="table-recommendations" style="display: none;">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column">Nome</th>
                                    <th class="column">Maturidade acadêmica</th>
                                    <th class="column">Maturidade profissional</th>
                                    <th class="column">Cultura</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="column">
                                        <a href="/admin/core/profissional/1/change/">Antônio Carlos Jobim</a>
                                    </td>
                                    <td class="column">
                                        <a href="/admin/core/profissional/1/change/">Pós graduado</a>
                                    </td>
                                    <td class="column">
                                        <a href="/admin/core/profissional/1/change/">Sênior</a>
                                    </td>
                                    <td class="column">
                                        <a href="/admin/core/profissional/1/change/">Extremamente flexível</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="column">Chico Buarque</td>
                                    <td class="column">Pós graduado</td>
                                    <td class="column">Pleno</td>
                                    <td class="column">Extremamente flexível</td>
                                </tr>
                                <tr>
                                    <td class="column">Joaquim José da Silva Xavier</td>
                                    <td class="column">Graduado</td>
                                    <td class="column">Júnior</td>
                                    <td class="column">Não flexível</td>
                                </tr>
                                <tr>
                                    <td class="column">Joaquim José da Silva Xavier</td>
                                    <td class="column">Graduado</td>
                                    <td class="column">Júnior</td>
                                    <td class="column">Não flexível</td>
                                </tr>
                                <tr>
                                    <td class="column">Joaquim José da Silva Xavier</td>
                                    <td class="column">Graduado</td>
                                    <td class="column">Júnior</td>
                                    <td class="column">Não flexível</td>
                                </tr>
                                <tr>
                                    <td class="column">Joaquim José da Silva Xavier</td>
                                    <td class="column">Graduado</td>
                                    <td class="column">Júnior</td>
                                    <td class="column">Não flexível</td>
                                </tr>
                                <tr>
                                    <td class="column">Joaquim José da Silva Xavier</td>
                                    <td class="column">Graduado</td>
                                    <td class="column">Júnior</td>
                                    <td class="column">Não flexível</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </center>

{% endblock %}

{% block js %}
    <script src="{% static 'core/js/jquery.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('#gambi').click(function(){
                $.getJSON('/api/recomendacoes/', function(data) {
                    console.log(data);
                });
            });

            $('#select-vaga').on('change', function() {

                $('#wait').show();

                setTimeout(function(){
                    $('#search-session').hide();
                    $('#table-recommendations').show();
                }, 4000);
            });

            $('#menu-recommendations').addClass('active');
            $('#menu-recommendation').addClass('active');
        });
    </script>
{% endblock %}