{% extends 'app/base.html' %}
{% load static %}

{% block title %}Maná | NPS{% endblock %}

{% block styles %}
    <!--Geral imports-->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Select search css -->
    <link rel="stylesheet" href="{% static 'core/css/select.css' %}">

    <!-- Table css -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">

    <style>
      .column {
        padding-right: 40px;
        padding-left: 40px;
      }
    </style>
{% endblock %}

{% block content %}
<center>
    <div class="limiter">
        <br><br>
        <h1>NPS das recomendações e sugestões</h1>
        <br><br>

        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column">Vaga</th>
                                <th class="column">NPS</th>
                                <th class="column">Descrição</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vaga in vagas %}
                                <tr>
                                    <td class="column">{{ vaga.titulo }}</td>
                                    <td class="column">{{ vaga.nps }}</td>
                                    <td class="column">
                                        {% if vaga.nps < -1 %}
                                            Ruim
                                        {% endif %}

                                        {% if vaga.nps >= 0 and vaga.nps <= 49 %}
                                            Razoável
                                        {% endif %}

                                        {% if vaga.nps >= 50 and vaga.nps <= 75 %}
                                            Muito bom
                                        {% endif %}


                                        {% if vaga.nps >= 75 %}
                                            Excelente
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


     <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column">Vaga</th>
                            <th class="column">Sugestões</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaga in vagas %}
                            {% for sugestao in vaga.sugestoes %}
                                <tr>
                                    <td class="column">{{ vaga.titulo }}</td>
                                    <td class="column">{{ sugestao }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</center>
{% endblock %}