.input-search{
  height: 50px;
  width: 500px;
  border-radius: 0px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-image: url('../img/search.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  padding-right: 40px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last:center;
}